{% extends 'pages/dashboard/base.html' %}
{% block content %}
    <br>
    <div class="row">
          <div class="col-lg-3 col-6">
              <a href="{% url 'new_test' %}">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ qlen }}</h3>

                <p>Create New Quiz</p>
              </div>
            </div>
                  </a>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
               <a href="{% url 'dlist' tip='result' %}">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ rlen }}<sup style="font-size: 20px">%</sup></h3>

                <p>Results</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
               </a>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
              
               <a href="{% url 'dlist' tip='user' %}">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ ulen }}</h3>

                <p>Users</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
            </div>
               </a>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
              
               <a href="{% url 'dlist' tip='subject' %}">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ slen }}</h3>

                <p>Subjects</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
            </div>
               </a>
          </div>
          <!-- ./col -->
        </div>
{% endblock %}
