{% extends 'pages/dashboard/blank.html' %}
{% block content %}
    <br>
    <div class="row">
        {% for i in result %}
        <div class="col-lg-3 col-6">
            <a href="{% url 'dashboard_subject' status='classroom'  %}">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ i.name }}</h3>

                <p>{{ i.foyiz }}%</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
            </div>
               </a>
          </div>
        {% endfor %}
    </div>
{% endblock %}
