{% extends 'pages/dashboard/base.html' %}
{% block content %}
<div class="card">
            <div class="card-header">
              <h3 class="card-title">{{ name }}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                      <div class="col-sm-12">
                          <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                <thead>
                <tr role="row">
                    {% if name == "Subject" or name == "ClassRoom" %}
                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending">Name</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Action</th>

                    {% elif name == "User" %}

{#                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending">Name</th>#}
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Last Name</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Name</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Class Room</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Username</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Action</th>
                        
                    {% elif name == "Result" %}

{#                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending">Name</th>#}
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">ID</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">User</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">User Name</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">User's Class Room</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Result</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Foyiz</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Kolichestva Vop.</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Created</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Test</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Action</th>
                        
                    {% elif name == "Quiz" %}

                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">id</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Name</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Desc</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Subject</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Status</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Action</th>
                        
                    {% elif name == "Question" %}
                        
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Id</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Name</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Img</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Quiz Name</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Action</th>
                        
                    {% elif name == "Variant" %}

                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">ID</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Name</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Answer</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Test Name</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Question Name</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Action</th>
                        
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for i in root %}
                    {% if name == "Subject"%}
                        <tr role="row" class="odd">
                          <td>{{ i.name }}</td>
                          <td>
                           <a href="{% url "action" status="delete" path="subject" pk=i.id %}" class="btn btn-danger ml-4 btn-circle btn-wd">
                               <i class="fa fa-trash"></i>
                           </a>
                          </td>
                        </tr>
                    {% elif name == "ClassRoom" %}
                        <tr role="row" class="odd">
                          <td>{{ i.name }}</td>
                          <td>
                           <a href="{% url "action" status="delete" path="classroom" pk=i.id %}" class="btn btn-danger ml-4 btn-circle btn-wd">
                               <i class="fa fa-trash"></i>
                           </a>
                          </td>
                        </tr>
                    {% elif name == "User" %}
                        {% if not i.is_admin %}
                        <tr role="row" class="odd">
                            <td>{{ i.last_name }}</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.classroom.name }}</td>
                            <td>{{ i.username }}</td>
                            <td>
                               <a href="{% url "action" status="delete" path="user" pk=i.id %}" class="btn btn-danger ml-4 btn-circle btn-wd">
                                   <i class="fa fa-trash"></i>
                               </a>
                            </td>
                        </tr>
                            {% endif %}
                    {% elif name == "Result" %}
                       <tr role="row" class="odd">
                        <td>{{ i.id }}</td>
                        <td>{{ i.user.last_name }} {{ i.user.name }}</td>
                        <td>{{ i.user.username }}</td>
                        <td>{{ i.user.classroom.name }}</td>
                        <td>{{ i.result }}</td>
                        <td>{{ i.foyiz }}</td>
                        <td>{{ i.totalQuestions }}</td>
                        <td>{{ i.created }}</td>
                        <td>{{ i.test.name }}</td>
                        <td>
                           <a href="{% url "action" status="delete" path="result" pk=i.id %}" class="btn btn-danger ml-4 btn-circle btn-wd">
                               <i class="fa fa-trash"></i>
                           </a>
                       </td>
                       </tr>
                    {% elif name == "Question" %}
                       <tr role="row" class="odd">
                        <td>{{ i.id }}</td>
                        <td>{{ i.text }}</td>
                        <td>{{ i.img }}</td>
                        <td>{{ i.test.name }}</td>
                       <td>
                           <a href="{% url "action" status="delete" path="question" pk=i.id %}" class="btn btn-danger ml-4 btn-circle btn-wd">
                               <i class="fa fa-trash"></i>
                           </a>
                       </td>
                       </tr>
                    {% elif name == "Variant" %}
                       <tr role="row" class="odd">
                        <td>{{ i.id }}</td>
                           <td>{{ i.text }}</td>
                           <td>{% if i.is_answer %}Yes{% else %}No{% endif %}</td>
                           <td>{{ i.question.test.name }}</td>
                           <td>{{ i.question.text }}</td>
                        <td>
                            <a href="{% url "action" status="delete" path="variant" pk=i.id %}" class="btn btn-danger ml-4 btn-circle btn-wd">
                               <i class="fa fa-trash"></i>
                           </a>
                        </td>
                       </tr>
                    {% elif name == "Quiz" %}
                       <tr role="row" class="odd">
                           <td>{{ i.id }}</td>
                           <td>{{ i.name }}</td>
                           <td>{{ i.desc }}</td>
                           <td>{{ i.subject.name }}</td>
                           <td>{% if i.is_start %}<a href="{% url 'action' status='end' pk=i.id path='quiz' %}">Boshlangan</a>{% else %}<a href="{% url 'action' status='start' pk=i.id path='quiz' %}">Boshlash</a>{% endif %}</td>
                          <td>
                              <a href="{% url "action" status="delete" path="quiz" pk=i.id %}" class="btn btn-danger ml-4 btn-circle btn-wd">
                               <i class="fa fa-trash"></i>
                              </a>
                          </td>
                       </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
              </table>
                      </div>
                  </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
{% endblock %}