{% extends 'pages/dashboard/base.html' %}
{% block header %}
    <style>
        body {
            background-color: #f5f5f5;
        }

        .questionField {
            margin-bottom: 20px;
            border: 1px solid #ddd;
            padding: 15px;
            background-color: #fff;
        }

        .variant {
            display: inline-block;
            margin-right: 10px;
            margin-top: 10px;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #3e8e41;
        }
        .test_name{
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-cent:er">Создание теста</h1>
        <form id="addQuestionForm" method="post" action="{% url 'create_test' %}">
            Название теста: <label>
            <input type="text" class="test" name="test_name">
            <select name="subject"><option value="">-- Выберите урок --</option>{% for subject in subjects %}<option value={{ subject.id }}>{{ subject.name }}</option>{% endfor %}</select>
            <select name="classroom"><option value="">-- Выберите класс --</option>{% for classroom in classrooms %}<option value={{ classroom.id }}>{{ classroom.name }}</option>{% endfor %}</select>
        </label>
            {% csrf_token %}
            <div id="questionFields"></div>
            <button type="button" class="btn btn-success" onclick="addQuestionField()">Добавить вопрос</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
    
    <script>
        let questionCounter = 1;
        
        function addQuestionField() {
            const questionContainer = document.getElementById('questionFields');
            const questionFieldHTML = `
                <div class="questionField" id="question_${questionCounter}">
                    <input type="text" name="question_${questionCounter}" placeholder="Вопрос ${questionCounter}"><br>
                    <div id="variantFields_${questionCounter}"></div>
                    <button type="button" class="btn btn-success" onclick="addVariantField(${questionCounter})">Добавить вариант</button>
                </div>
            `;
            questionContainer.insertAdjacentHTML('beforeend', questionFieldHTML);
            questionCounter++;
        }

        function addVariantField(questionId) {
            const variantContainer = document.getElementById(`variantFields_${questionId}`);
            const variantFieldHTML = `
                <div class="variant">
                    <input type="text" name="variant_${questionId}_${variantContainer.childElementCount + 1}" placeholder="Вариант ${variantContainer.childElementCount + 1}"> 
                    Ответ? <input type="checkbox" name="answer_${questionId}_${variantContainer.childElementCount + 1}">
                </div>`;
            variantContainer.insertAdjacentHTML('beforeend', variantFieldHTML);
        }
    </script>
{% endblock %}
