{% extends 'base.html' %} {% block title %}Тесты{% endblock %} {% block header
%} {% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}" />
<link
    rel="stylesheet"
    href="https://rawcdn.githack.com/SochavaAG/example-mycode/master/_common/css/reset.css"
/>
<link rel="stylesheet" href="{% static 'card/style.css' %}" />
<link rel="stylesheet" href="{% static 'style.css' %}" />
{% endblock %} {% block body %}
<div class="ag-format-container">
    <div class="ag-courses_box">
        {% for test in tests %}
        <div class="ag-courses_item test_c">
            <a
                href="{% url 'test' test_id=test.id %}"
                class="ag-courses-item_link"
            >
                <div class="ag-courses-item_bg"></div>
                <div class="ag-courses-item_title">
                    {{ test.name }}<br />
                    {{ test.desc }}
                </div>
                <div class="ag-courses-item_date-box">
                    {{ test.subject.name }} &mdash;
                    <span class="ag-courses-item_date">{{ test.created }}</span>
                </div>
            </a>
        </div>
        {% empty %}
        <p style="color: #fff; padding: 2rem">Нет доступных тестов.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
