<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if is_subject %}
    {% for subject in subjects %}
        <form action="{% url 'test_list' %}" method="GET">
        <p>{{ subject.name }}</p>
        <input type="hidden" value="{{ subject.id }}" name="subject">
        <input type="hidden" value="1" name="is_subject">
        <input type="submit">
        </form>
    {% endfor %}
{% else %}
     {% for test in tests %}
        <form action="{% url 'test' %}">
        <p>{{ test.name }}</p>
        <input type="hidden" value={{ test.id }}>
        <input type="submit">
        </form>
    {% endfor %}
{% endif %}
</body>
</html>