{% extends 'base.html' %}
{% block title %}{{ user.name }}{% endblock %}

{% block header %}
    {% load static %}
    <link rel="stylesheet" href='{% static 'profile.css' %}'>
{% endblock %}

{% block body %}
    <div class="name">
        <h1>{{ user.name }}</h1>
    </div>
    <div class="results">
        {% for result in results %}
            <h3>{{ result.test.subject.name }} {{ result.test.name }} <a id="res">{{ result.result }}</a></h3>
        {% endfor %}
    <h2>Ваш средний результат: {{ average }}</h2>
    </div>
{% endblock %}
